#horizontal-nav {
    background: royalblue;
    width: 100%;
    height: 90px;
    border-left: solid #0C36B3 1px;
}

.searchFilter {
    font-size: 24px;
    border: none;
    position: relative;
    top: 5px;
    left: 10px;
    width: 270px;
}

.searchFilter:focus {
    outline: none;
}

.inputSearchDiv {
    height: 45px;
    width: 320px;
    border-radius: 90px;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    background: white;
    position: absolute;
    top: 25px;
    left: 110px;
}

.shoppingList {
    list-style-type: none;
    margin: 20px;
    margin-bottom: 10px;
    padding: 0;
    overflow-y: scroll;
    height: calc(100% - 90px);
    max-width: 1200px;
    min-width: 750px;
}

.shoppingList li {
    margin-top: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    /*border-bottom: solid darkblue 1px;*/
}

.shoppingList fieldset * {
    background-color: rgba(0,0,0,0);
    /*margin-left: 5px;*/
}

.shoppingList .amount input[type="number"]{
    width: 4em;
    margin-left:35px;
    border: solid #959595 1px;
}

.shoppingList .description textarea{
    width: 50%;
    min-width: 200px;
    height: 50px;
    border: none;
    margin-left: 5px;
    border: solid #959595 1px;
}

/*.shoppingList li div input:hover {
    outline: 1px auto #999;
}*/

/*.shoppingList li div input:focus {
    outline: 1px auto #999;
}*/

.shoppingList .store select {
    border: solid #959595 1px;
    min-width: 100px;
    margin-left: 50px;
}

.shoppingList .store select:hover {
    outline: 1px auto #999;
}

.shoppingList .store select:focus {
    outline: 1px auto #999;
}
.nameInputContainer{
    position: relative;
    width: 200px;
    height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}

.shoppingList li div input.nameInputField:hover {
    outline: none;
}

.shoppingList li div input.nameInputField:focus {
    outline: none;
}

.itemHead {
    position: relative;
    background-color: royalblue;
    font-size: 25px;
    color: white;
    font-family: 'Berlin Sans FB'
}

.itemName {
    margin-left: 20px;
}

.xAmount {
    position: absolute;
    left: 400px;
    top: 30px;
}

.itemImage {
    width: 100px;
    height: 100px;
    background: #0C36B3;
}

.itemBody {
    padding: 10px 0 10px 30px;
    background-color: #8FA7F0;
}

.itemBody label:first-of-type {
    float: left;
}

main {
    float: left;
    width: 100%;
    height: calc(100% - 90px);
    ;
}

.boughtCheck {
    background: #0C36B3;
    border: inset #1D4CD8;
    position: absolute;
    right: 50px;
    top: 30px;
    width: 50px;
    height: 45px;
}

.boughtCheck img {
    margin-bottom: 5px;
}

.boughtCheck.all {
    top: 20px;
}

.boughtCheck.all img {
    margin-bottom: 0px;
}

.newItem {
    width: 93%;
    height: 50px;
    color: white;
    background: royalblue;
    border: inset #1D4CD8;
    margin-left: 20px;
    max-width: 1150px;
    min-width: 740px;
}

#sync {
    color: white;
    background: #0C36B3;
    border: inset #1D4CD8;
    width: 50px;
    height: 45px;
    position: absolute;
    right: 100px;
    top: 20px;
}

.inputSearchLeft img {
    position: absolute;
    right: 15px;
    top: 12px;
}