.container {
    position: relative;
    width: 200px;
    height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}

.nameSelect {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 200px;
    height: 25px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.nameInputField {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 183px;
    height: 23px;
    border: 1px solid #556;
}